---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-owning-memory,
  -readability-implicit-bool-conversion,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: 'client/src/.*'
FormatStyle: 'file'
...
